In [1]:
pip install kafka-python

Requirement already satisfied: kafka-python in /usr/local/lib/python3.11/site-packages (2.2.7)
Note: you may need to restart the kernel to use updated packages.

In [1]:
import pandas as pd
from kafka import KafkaConsumer, KafkaProducer
from time import sleep
import json
from json import dumps

In [2]:
producer = KafkaProducer(bootstrap_servers=['3.148.233.16:9092'],
                         value_serializer=lambda x:
                         dumps(x).encode('utf-8'))

In [3]:
producer.send('user-funnel',value="{'name':'sdfksdf'}")

In [4]:
df = pd.read_csv("user_funnel_metrics.csv")

In [5]:
df.head()

,user_id,session_id,stage,stage_timestamp,next_stage,next_stage_timestamp,time_to_next_stage,did_drop,product_id,category,device_type,location
0,U001,feee15e2,page_view,2025-04-25 15:12:10,add_to_cart,2025-04-25 15:13:27,77.0,False,P1054,Beauty,desktop,Florida
1,U001,feee15e2,add_to_cart,2025-04-25 15:13:27,checkout,2025-04-25 15:14:29,62.0,False,P1054,Beauty,desktop,Florida
2,U001,feee15e2,checkout,2025-04-25 15:14:29,NaN,NaN,NaN,True,P1054,Beauty,desktop,Florida
3,U002,a61cc9c9,page_view,2025-04-25 14:58:56,add_to_cart,2025-04-25 14:59:48,52.0,False,P1080,Electronics,mobile,New York
4,U002,a61cc9c9,add_to_cart,2025-04-25 14:59:48,checkout,2025-04-25 15:01:10,82.0,False,P1080,Electronics,mobile,New York

In [ ]:
# while True:
#     for _, row in df.iterrows():
#         user_metrics = row.to_dict()
#         producer.send('demo_testing2', value=user_metrics)
#         sleep(1)

In [9]:
while True:
    user_metrics = df.sample(1).to_dict(orient="records")[0]
    producer.send('user-funnel',value=user_metrics)
    sleep(1)

KeyboardInterrupt:

In [23]:
producer.flush()